:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;

  /* RGBA colors */
  --rgba-navyblue: 46, 47, 66;
  --rgba-black: 0, 0, 0;

  /* Container device width options */
  --mobile-container-width: 396px;
  --tablet-container-width: 736px;
  --desktop-container-width: 1128px;

  --container-width: var(--mobile-container-width);
  --container-side-padding: 15px;
  --container-max-width: calc(
    var(--container-width) + var(--container-side-padding) * 2
  );

  /* Transitions */
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Background Image */
  --order-service-background-image: url(../images/studio/team-office-mobile.jpg);
}

/* Body */
body {
  background-color: var(--white);
  color: var(--slate);
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  padding: 0;
  color: currentColor;
  outline: none;
  background-color: transparent;
}

input {
  font-family: inherit;
  outline: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  padding: 0 var(--container-side-padding);
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: var(--navyblue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------ Header ------------------------ */

.line {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(var(--rgba-navyblue), 0.08),
    0px 1px 1px 0px rgba(var(--rgba-navyblue), 0.16),
    0px 2px 1px 0px rgba(var(--rgba-navyblue), 0.08);
  padding-top: 24px;
  padding-bottom: 22px;
}

.header-container {
  display: flex;
  align-items: center;
}

/* Header Menu */
.navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  color: var(--iris);
  text-transform: uppercase;
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-studio {
  color: var(--navyblue);
}

/* Menu items */
.header-nav {
  display: none;
}

/* Address */
.header-address {
  display: none;
}

.menu-open-button {
  width: 32px;
  height: 22px;
}

.menu-open-icon {
  stroke: var(--navyblue);
  transition: stroke var(--transition-time) var(--transition-function);
}

.menu-open-button:is(:hover, :focus) .menu-open-icon {
  stroke: var(--ocean);
}

/* Menu */

.menu {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 500ms var(--transition-function),
    visibility 500ms var(--transition-function),
    transform 500ms var(--transition-function);
  transform: translateX(100%);
  overflow: scroll;
}

.menu.is-open {
  transform: translateX(0);
}

.menu-close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(var(--rgba-black), 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function);
}

.menu-close-button:is(:hover, :focus) {
  background-color: var(--ocean);
  border: none;
}

.menu-close-icon {
  fill: var(--navyblue);
  transition: fill var(--transition-time) var(--transition-function);
}

.menu-close-button:is(:hover, :focus) .menu-close-icon {
  fill: var(--white);
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-item {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}

.menu-item.current-page {
  color: var(--ocean);
}

.menu-address {
  margin-bottom: 48px;
}

.menu-address-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-address-email {
  color: var(--slate);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-address-phone {
  color: var(--iris);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  display: block;
}

.menu-item,
.menu-address-phone,
.menu-address-email {
  transition: color var(--transition-time) var(--transition-function);
}

.menu-item:not(.current-page):is(:hover, :focus),
.menu-address-phone:is(:hover, :focus),
.menu-address-email:is(:hover, :focus) {
  color: var(--ocean);
}

.menu-socials {
  display: flex;
  justify-content: space-between;
}

.menu-social-item {
  width: 40px;
  height: 40px;
}

.menu-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function);
}

.menu-social-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

.menu-social-icon {
  fill: var(--cloud);
}

/* ------------------------ Order Service ------------------------ */

.order-service {
  background-color: var(--navyblue);
  background-image: linear-gradient(
      180deg,
      rgba(var(--rgba-navyblue), 0.7),
      rgba(var(--rgba-navyblue), 0.7)
    ),
    var(--order-service-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 112px 0;
  max-width: 428px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  :root {
    --order-service-background-image: url(../images/studio/order/order-service-mobile-2x.jpg);
  }
}

.order-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.order-service-title {
  color: var(--white);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  text-transform: capitalize;
  max-width: 321px;
}

/* Order Service button */
.order-service-button {
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(var(--rgba-black), 0.15);
  min-width: 169px;
  height: 56px;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-time) var(--transition-function);
}

.order-service-button:is(:hover, :focus) {
  background-color: var(--ocean);
}
/* ------------------------ Features Section ------------------------ */

.features-items {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-icon-container {
  display: none;
}

.feature-item-title {
  font-weight: 700;
  color: var(--navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

/* ------------------------ Services Section ------------------------ */

.services {
  display: none;
}

/* ------------------------ Our Team Section ------------------------ */

.team {
  background-color: var(--cloud);
}

.team-items {
  display: flex;
  gap: 64px 24px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.team-member {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(var(--rgba-navyblue), 0.08),
    0px 1px 1px 0px rgba(var(--rgba-navyblue), 0.16),
    0px 1px 6px 0px rgba(var(--rgba-navyblue), 0.08);
}

.team-member-container {
  text-align: center;
  padding: 32px 0;
}

.team-member-title {
  font-weight: 500;
  color: var(--navyblue);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

.team-member-socials {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-member-social-item {
  width: 40px;
  height: 40px;
}

.team-member-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function);
}

.team-member-social-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

.team-member-social-icon {
  fill: var(--cloud);
}

/* ------------------------ Customers ------------------------ */

.customers-items {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}

.customer-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.customer-link {
  color: var(--lightslate);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  transition: border-color var(--transition-time) var(--transition-function),
    color var(--transition-time) var(--transition-function);
}

.customer-link:is(:hover, :focus) {
  color: var(--ocean);
}

.customer-icon {
  fill: currentColor;
  width: 110px;
}

/* -------------------- Modal -------------------- */

.backdrop {
  position: fixed;
  top: 0;
  background: rgba(var(--rgba-navyblue), 0.4);
  width: 100%;
  height: 100%;
  transition: opacity var(--transition-time) var(--transition-function),
    visibility var(--transition-time) var(--transition-function);
  overflow: scroll;
}

.modal {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50%);
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(var(--rgba-black), 0.2),
    0px 1px 3px 0px rgba(var(--rgba-black), 0.12),
    0px 1px 1px 0px rgba(var(--rgba-black), 0.14);
  transition: left var(--transition-time) var(--transition-function);
  width: 392px;
  padding: 72px 16px 24px;
  max-width: 95%;
}

.backdrop.is-hidden .modal {
  left: -100%;
}

.modal-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(var(--rgba-black), 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function);
}

.modal-close-button:is(:hover, :focus) {
  background-color: var(--ocean);
  border: none;
}

.modal-close-icon {
  fill: var(--navyblue);
  transition: fill var(--transition-time) var(--transition-function);
}

.modal-close-button:is(:hover, :focus) .modal-close-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-form-title {
  margin-bottom: 16px;
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
}

.order-field-wrapper {
  margin-bottom: 8px;
}

.order-label {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
}

.order-input-wrapper {
  position: relative;
}

.order-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(var(--rgba-navyblue), 0.4);
  padding-left: 38px;
  background-color: transparent;
  transition: border-color var(--transition-time) var(--transition-function);
}

.order-input::placeholder {
  color: rgba(var(--rgba-navyblue), 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.order-input:focus {
  border-color: var(--iris);
}

.order-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-time) var(--transition-function);
}

.order-input:focus + .order-icon {
  fill: var(--iris);
}

.order-comment-field-wrapper {
  margin-bottom: 16px;
}

.order-comment {
  padding: 8px 16px;
  height: 120px;
  resize: none;
  outline: transparent;
  color: rgba(var(--rgba-navyblue), 0.4);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.order-checkbox-wrap {
  margin-bottom: 24px;
}

.order-checkbox-check,
.order-checkbox {
  width: 16px;
  height: 16px;
}

.order-terms {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-checkbox-check {
  border-radius: 2px;
  border: 1px solid rgba(var(--rgba-navyblue), 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
  transition-property: background-color, border, fill;
}

input[type='checkbox']:checked + label > span {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}

input[type='checkbox']:focus + label > span {
  border-color: var(--iris);
}

.order-terms-link {
  color: var(--iris);
}

.order-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 24px auto 0;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(var(--rgba-black), 0.15);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-time) var(--transition-function);
}

.order-submit:is(:hover, :focus) {
  background-color: var(--ocean);
}

/* !------------------------ Protfolio Page ------------------------ */

.portfolio {
  padding: 48px 0;
}

.portfolio-buttons {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.filter-button {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  letter-spacing: 0.04em;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
  padding: 8px 16px;
}

.filter-button:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(var(--rgba-black), 0.12),
    0px 2px 1px 0px rgba(var(--rgba-black), 0.08),
    0px 3px 1px 0px rgba(var(--rgba-black), 0.1);
  border-color: transparent;
}

.portfolio-items {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-link {
  transition: box-shadow var(--transition-time) var(--transition-function);
  display: block;
  color: var(--slate);
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 2px 1px 0px rgba(var(--rgba-navyblue), 0.08),
    0px 1px 1px 0px rgba(var(--rgba-navyblue), 0.16),
    0px 1px 6px 0px rgba(var(--rgba-navyblue), 0.08);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
  max-height: 280px;
}

.portfolio-item-cover-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--transition-function);
  color: var(--cloud);
  padding: 20px;
}

.portfolio-link:is(:hover, :focus) .portfolio-item-cover-text {
  transform: translateY(0);
}

.protfolio-card-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  font-weight: 500;
  margin-bottom: 8px;
}

/* ------------------------ Footer ------------------------ */

.footer {
  background-color: var(--navyblue);
  color: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.footer .logo-studio {
  color: var(--cloud);
}

.footer-description {
  max-width: 268px;
}

.footer-socials-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function);
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

/* Subscribe form */

.subscribe-container {
  width: 100%;
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.subscribe-form {
  display: flex;
  gap: 16px 24px;
  flex-direction: column;
}

.subscribe-email-input {
  border-radius: 4px;
  border: 1px solid var(--white);
  padding-left: 16px;
  letter-spacing: 0.04em;
  height: 40px;
  background-color: transparent;
  transition: opacity var(--transition-time) var(--transition-function);
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  width: 100%;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-email-input::placeholder {
  color: var(--white);
  transition: opacity var(--transition-time) var(--transition-function);
}

.subscribe-email-input:is(:hover, :focus) {
  opacity: 1;
}

.subscribe-email-input:focus::placeholder {
  opacity: 0;
}

.subscribe-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  transition: background-color var(--transition-time) var(--transition-function);
  max-width: 165px;
  align-self: center;
}

.subscribe-submit:is(:hover, :focus) {
  background-color: var(--ocean);
}

.subscribe-submit-icon {
  margin-left: 16px;
  fill: var(--white);
}
